.coolTitle {
  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 40px;
  transform: skewY(-10deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  text-shadow: 
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey;
}

.done {
  text-decoration: line-through;
  
}

.delete {
  display: none;
}
ul li {
  margin-right: 20px;
}

body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

#userinput {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#enter {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

li.done {
  text-decoration: line-through;
}

li:hover {
  background-color: #e0e0e0;
}

button {
  margin-left: 10px;
  padding: 2px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
.head{
  text-align: center;
}